$color-principal: #E1160D;
$color-fondo: #dbc4c4;
$blanco:#FFFFFF;

body {
  background-color: $color-fondo;
}

.logo {
  color: $color-fondo ;
  font-size: 25px;
  font-weight: 800;

}

.menu .navbar ul li a {
  font-size: 18px;
  padding: 20px;
  color: $blanco;
  display: block;

}
