
.gradiente {
    background: $color-fondo;
    height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
  
    h2, h3, p {
      text-align: center;
      font-family: 'Segoe UI', sans-serif;
      color: #333;
    }
  
    h2 {
      font-size: 2.5rem;
      margin-bottom: 10px;
    }
  
    h3 {
      font-size: 1.8rem;
      margin: 10px 0;
    }
  
    p {
      font-size: 1.2rem;
      margin: 5px 0;
    }
  }
  

  $color-fondo: linear-gradient(#b68181, #ebbaba, #baefba);


