.header {
    background-image:url(../img/1.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: $ce;
    justify-content: $ce;
    text-align: $ce;
}

$ce: center;