<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
</head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

<body>
    <header class="header">
        <div class="menu container">
            <a href="#" class="logo">VIVERO</a>
            <input type="checkbox" id="menu">
            <label for="menu"><img src="img/stromanthe_4c4a1cc0-cad0-4b42-81ef-6e30d290c716_1600x.webp" class="menu-icono" alt=""></label>
            <nav class="navbar">
                <ul>
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="./servicios.html">Servicios</a></li>
                    <li><a href="#">Contacto</a></li>
                    <li><a href="./precios.html">Precios</a></li>
                    <li><a href="views/horario.html">Horario</a></li>
                </ul>

            </nav>


        </div>

        <div class="header-content container">

            <div class="header-info">
                <h1>VIVERO JAPONES</h1>
                <p>Regala una planta, regala una vida</p>
                


            </div>



        </div>
    </header>
    
    
    <section class="gym container">

        <div class="gym-3">

            <h2><span>CONTA</span>CTO</h2>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6543.517803278684!2d-57.961395690493646!3d-34.91249949208274!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a2e7b5dcd71fe5%3A0xe572cc29fbcaf315!2sPlaza%20Belgrano!5e0!3m2!1ses!2sar!4v1745406727637!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

          

            <p> Información de la empresa<p>
                <h1>Dirección: Av. 12 12542 La Plata, Buenos Aires, Argentina</h1>
                <h2>Teléfono: +54 9 23948324</h2>
                <h3>Correo electrónico: vivero@gmail.com</h3>
                <h4>Horario de atención: Lunes a Viernes de 9:00 a 18:00 hs</h4>

            <a href="https://whatsapp.com" class="btn-2">Whatsapp</a>

        </div>

        


    </section>

    

        

        


    


    </section>
    <footer class="footer container">
        <h3>Vivero</h3>

       



    <div style="font-size: 30px;">
      <a href="https://www.facebook.com" target="_blank" style="margin-right:15px; color:#4267B2;">
      <i class="fab fa-facebook-square"></i>
    </a>
    <a href="https://twitter.com" target="_blank" style="margin-right:15px; color:#1DA1F2;">
     <i class="fab fa-twitter-square"></i>
     </a>
    <a href="https://www.instagram.com" target="_blank" style="color:#b8317e;">
     <i class="fab fa-instagram-square"></i>
    </a>
    </div>


            </ul>
        </div>

    </footer>




</body>
</html>
  