<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <div class="head"> 

        <div class="logo">
            <a href="#">logo</a>


        </div>

        <div class="navbara">
            <a href="#">Horario</a>
            <a href="./nosotros.html">Nosotros</a>
            <a href="./servicios.html">Servicios</a>
            <a href="./contacto.html">Contacto</a>
            <a href="../index.html">Inicio</a>

        </div>

    </div>
   
    <header class="content header">
        <h2 class="title">Horario</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque aperiam laborum aspernatur tempore, ratione harum? Pariatur harum assumenda aspernatur, nesciunt ducimus id consequatur minus perferendis accusamus aperiam et consectetur expedita.


        </p>

        <div class="btn-home">
            <a href="#" class="btn">Saber mas</a>
            <a href="#" class="btn">Saber mas</a>

        </div>
    </header>
    <section class="content sau">


        <h2 class="Title"> Horarios</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum assumenda vel aut repudiandae nisi impedit! Ab magni maxime possimus sint ex ut! Possimus voluptatem quasi similique fugiat, veritatis quibusdam aperiam.
        </p>
        <div class="box-container">

            <div class="box">
                <i class="fab fa-angular"></i>
                <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta velit, fugit vitae inventore blanditiis recusandae incidunt, fuga nisi porro voluptate nulla rem voluptas id minima beatae voluptatum veritatis magni ipsam.</h3>
                <p>laremo molestias</p>
            </div>
            <div class="box">
                <i class="fab fa-apple"></i>
                <h3>Lorem</h3>
                <p>laremo molestias</p>
            </div>
            <div class="box">
                <i class="fab fa-android"></i>
                <h3>Lorem</h3>
                <p>laremo molestias</p>
            </div>




        </div>
    </section>
    <section class="content about">

        <h2 class="title">Horario</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro aut nesciunt amet hic omnis eos autem, voluptate eius perspiciatis libero quaerat nulla assumenda nemo culpa ipsum veritatis consectetur fuga sed.</p>

    </section>
    <section class="content price">

        <article class="contain">
            <h2 class="title">Precio</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus eos neque vel voluptas dignissimos atque, molestias quae sint commodi. Reiciendis totam corporis obcaecati. Ipsum voluptatibus saepe, quis libero corrupti exercitationem.</p>

            <a href="#" class="btn">Saber precio</a>
        
        </article>


    </section>
    <section class="content contact">
        <h2 class="title">Contacto</h2>
        <p>3983948294</p>
        <figure class="map">
            <img src="../img/map.png" height="150px" width="50%" alt="mapa"></figure>

    </section>






</body>
</html>