<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="VIVERO JAPONES ">
    <meta name="keywords" content="precios de plantas">
    <title>Precios</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
</head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
<body class="Tienda">
    <div class="menu container">
        <a href="#" class="logo">VIVERO</a>
        <input type="checkbox" id="menu">
        <label for="menu">
            <img src="../img/stromanthe_4c4a1cc0-cad0-4b42-81ef-6e30d290c716_1600x.webp" class="menu-icono" alt="icono menú">
        </label>
        <nav class="navbar">
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="./views/servicios.html">Servicios</a></li>
                <li><a href="#">Contacto</a></li>
                <li><a href="views/nosotros.html">Nosotros</a></li>
                <li><a href="./horario.html">Horario</a></li>
            </ul>
        </nav>
    </div>
    <header class="tiendita">

        <h1>TIENDA</h1>


        <div class="container-icon">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="icon-cart">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 10.5V6a3.75 3.75 0 1 0-7.5 0v4.5m11.356-1.993 1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 0 1-1.12-1.243l1.264-12A1.125 1.125 0 0 1 5.513 7.5h12.974c.576 0 1.059.435 1.119 1.007ZM8.625 10.5a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm7.5 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z" />
              </svg>
        </div>
            <div class="count-products ">
                <span id="contador">0</span>
            </div>

             <div class="container-product hidden-cart">
                <div class="cartproduct">
                    <div class="infoca-product">
                        <span class="cantidad-producto-carrito">1</span>
                        <p class="tit-carrito">Ficus Pandurata</p>
                        <span class="precio-produc">$20.000</span>

                    </div>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="icon-close">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                    </svg>
                      

                </div>
                <div class="eltotal">
                    <h3>Total:</h3>
                    <span class="pagar">$20.000</span>
                </div>

            
                
        </div>

    </header>
    
    

    <div class="container-items">
        <div class="item">
            <figure>
                <img src="../img/venta/Comprar_Plantas_de_Interior_con_Hojas_Grandes.webp" alt="producto">
            </figure>
            <div class="info-producto">
                <h2>Ficus Pandurata</h2>
                <p class="price">$20.000</p>
                <button>Añadir al carrito</button>

            </div>
        </div>
            <div class="item">
                <figure>
                    <img src="https://media.istockphoto.com/id/1372896722/es/foto/planta-de-pl%C3%A1tano-en-maceta-aislada-sobre-fondo-blanco.jpg?s=612x612&w=0&k=20&c=l4EmNUhwxmge4YwY_u-n5YvOgzBjc4ruDGVfrm9m_s8=" alt="producto2">
                </figure>
                <div class="info-producto">
                    <h2>Strelitzia Reginae</h2>
                    <p class="price">$35.000</p>
                    <button>Añadir al carrito</button>
                </div>
            </div>
            <div class="item">
                <figure>
                    <img src="https://media.istockphoto.com/id/1278906674/es/foto/monstera-en-una-olla-aislada-sobre-fondo-blanco-de-cerca-de-hojas-tropicales-o-planta.jpg?s=612x612&w=0&k=20&c=EPcnjI_c7HKOyL7bKr637-74jVuAlo9FXOVt7fKtQr0=" alt="producto3">
                </figure>
                <div class="info-producto">
                    <h2>Monstera</h2>
                    <p class="price">$12.000</p>
                    <button>Añadir al carrito</button>
                </div>
            </div>
            <div class="item">
                <figure>
                    <img src="../img/venta/gettyimages-1431718645-612x612.jpg" alt="producto4">
                </figure>
                <div class="info-producto">
                    <h2>Monstera chica</h2>
                    <p class="price">$10.000</p>
                    <button>Añadir al carrito</button>
                </div>
            </div>
                        

            
    </div>
    
    
   
    <footer class="footer container">
        <h3>Logo</h3>

        <div style="font-size: 30px;">
            <a href="https://www.facebook.com" target="_blank" style="margin-right:15px; color:#4267B2;">
            <i class="fab fa-facebook-square"></i>
          </a>
          <a href="https://twitter.com" target="_blank" style="margin-right:15px; color:#1DA1F2;">
           <i class="fab fa-twitter-square"></i>
           </a>
          <a href="https://www.instagram.com" target="_blank" style="color:#b8317e;">
           <i class="fab fa-instagram-square"></i>
          </a>
          </div>

    </footer>




</body>
</html>